<% include header %>
<div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Welcome to Dukaan</h1>
                <p class="lead">We will use this sample project to explore different database systems with Node.js.</p>
            </div>
        </div>
    </div>
 <% include footer %>
