<% include header%>
<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>A very basic Shop</h1>
        </div>
    </div>
    <p class="lead">Nothing to see here yet</p>
</div> -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>A very basic Shop</h1></div>
    </div>
    <% if(items.length !== 0){%>
    <table class="table table-bordered table-striped">
        <thead>
            <th>SKU</th>
            <th>Name </th>
            <th>Price </th>
            <th> Action</th>
        </thead>
        <tbody>
            <% for(const item of items){%>
            <tr>
                <td><%-item.sku %></td>
                <td><%-item.name %></td>
                <td><%-item.price %></td>
                <td><a class="m-1 btn btn-primary" href="/shop/tobasket/21" role="button">Add to Basket</a></td>
            </tr>
            <% }%>
        </tbody>
    </table>
    <%} else {%>
    <p>Nothing to show</p>
    <% }%>
</div>
<% include footer %>
</body>
</html>